@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&family=Libre+Franklin:ital,wght@1,900&family=Montserrat:ital@1&family=Oxygen:wght@300&family=Vollkorn:ital,wght@1,800&display=swap');

:root {
    --navbar-bg: 23, 23, 23;
    --bg-color: #171717;
    --text-color: #f5f5f5;
    --accent: #00e673;
    --bg-color-2: #292929;
    --bg-color-3: #292929;
    --bg-color-4: #1f1f1f;
    --bg-color-5:  #292929;
}



body {

    background: #171717;
     
}
.h1{
 color: white;


}

.custom-text-white {
    color: var(--text-color);
    font-size: 10px;
    line-height: 120%;
    letter-spacing: 1px;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, .1);
    font-family: Kanit, serif;


}
nav{


    background: var(--bg-color-4);
    padding:0.3rem 0rem;
}
.bg-div{

    height: auto ;
    width: 100%;
    background: url("../img/Honors.jpg") center;
    background-size: cover;
    
     




}


